// CSS Reset
html, body, div, span, a, ul, li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
}
