@import './reset';
@import './palette';
@import './menu';

body {
    background-color: $baby-powder;
    font-family: sans-serif;
    line-height: 1;
}

.main {
    &__content {
        padding: 20px;
        text-align: center;
    }

    h1 {
        font-size: 2rem;
    }
}

.account {
    margin-top: 20px;
    margin-bottom: 10px;
}
.transaction {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.transaction-info {
    margin-top: 20px;
}
.transaction-result {
    margin-top: 20px;
}

.loader {
    display: inline-block;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: loader 2s linear infinite;
    margin-left: 4px;
    margin-right: 4px;
}

@keyframes loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}