@import './reset';
@import './palette';

@import './menu';

body {
  background-color: $baby-powder;
}

.main {

  &__content {
    padding-top: 20px;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }
}
